<div class="conteiner jumbotron pizzarra">
  <div class="col-md-12 d-flex flex-wrap">
    <div *ngFor="let lista of obtenerListas()">
      <button class="card lista" style="width: 18rem;" (click)="abrirLista(lista.obtenerNombre())">
        <div class="col-md-12 card-body">
          <h5 class="card-title">{{lista.obtenerNombre()}}</h5>
          <div class="col-md-12 d-flex flex-wrap" style="padding-left: 0px;">
            <div *ngFor="let tag of obtenerTags(lista.obtenerTags())">
              <p class="tag">{{tag.nombre}}</p>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <div *ngFor="let item of lista.obtenerItems()">
            <p class="card-text">{{item.obtenerNombre()}}</p>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>

<button #btnIzq type="button" class="botonFlot botonIzquierda"><img class="imagRot" src="./assets/buttonIcons/config-icon.png" style="height: 3vh;"></button>
<button #btnDer type="button" class="botonFlot botonDerecha" data-toggle="modal" data-target="#modalNuevaLista"><img class="imagRot" src="./assets/buttonIcons/plus-icon.png" style="height: 3vh;"></button>
