<div>
  <router-outlet #outlet="outlet">
    <!-- <button #btnIzq type="button" class="botonFlot botonIzquierda"><img class="imagRot" src="./assets/buttonIcons/config-icon.png" style="height: 3vh;"></button>
    <button #btnDer type="button" class="botonFlot botonDerecha" data-toggle="modal" data-target="#modalNuevaLista"><img class="imagRot" src="./assets/buttonIcons/plus-icon.png" style="height: 3vh;" (click)="limpiarModal()"></button> -->
  </router-outlet>
</div>

<!-- Modal Nueva Lista -->
<div class="modal fade in" id="modalNuevaLista" tabindex="-1" role="dialog" aria-labelledby="modalNuevaListaLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">

    <div class="modal-content" style="border-radius: 20px !important;">
      <div class="modal-header d-flex align-items-center">
        <h5 class="font-weight-light" id="modalNuevaListaLabel" style="margin-bottom: 0px;">Nueva Lista:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Aca diseño la modal -->
        <div class="conteiner jumbotron" style="padding-top: 16px; padding-bottom: 16px; margin-bottom: 0px;">


          <div class="col-md-12 d-flex flex-wrap align-items-center justify-content-center" style="margin-bottom: 20px;">
            <p class="font-weight-light" style="margin-bottom: 0px !important; margin-right: 10px;">Tags: </p>
            <div *ngFor="let item of obtenerTags()">
              <button class="btn-sm btn-primary tag tagSeleccionado" *ngIf="tagEstaSeleccionado(item.id) else bloqueElse" (click)="seleccionarTag(item.id)">{{item.nombre}}</button>
              <ng-template #bloqueElse><button class="btn-sm btn-primary tag" (click)="seleccionarTag(item.id)">{{item.nombre}}</button></ng-template>
            </div>
          </div>

          <form>
            <div class="form-group">
              <div class="col-md-12 d-flex flex-wrap align-items-center">
                <p class="font-weight-light col-md-3" style="margin-bottom: 0px;">Nombre:</p>
                <input type="text" #nameListText class="form-control col-md-9" style="border-radius: 20px;" placeholder="Ingrese el nombre de la lista aquí" (keyup)="cambioNombreLista()">
                <div class="invalid-feedback" style="text-align: center;">
                  El nombre ya esta ocupado
                </div>
              </div>
            </div>
          </form>
          <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-primary" style="border-radius: 20px !important;" [disabled]="!botonEnabled" (click)="nuevaLista()" data-dismiss="modal">Agregar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



