<!-- esta segunda parte es para agregar los productos y cuando cuestan -->
<p>Aca agreguen los productos</p>
<div class="conteiner jumbotron d-flex justify-content-center">
  <div class="col-md-12 d-flex justify-content-center">
    <p>Producto: </p>
    <input class="col-md-5" type="text" placeholder="Producto">
    <input class="col-md-4" type="number" placeholder="$ Monto">
    <button class="btn btn-primary">+</button>
  </div>
</div>
<!-- ejemplo con dos productos -->
<div class="card-columns">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
