<div>
  <div class="titulo">
    <div class="conteiner">
      <div class="row d-flex align-items-center">
        <div class="col-md-10">
          <h1 class="font-weight-light">Your To-Do List</h1>
        </div>
        <div class="col-md-2 justify-content-center">
          <div class="col-md-5">
            <button class="botonVerMas"><img src="./assets/buttonIcons/arrow-icon.png" style="height: 100%; width: 100%;"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="conteiner jumbotron" style="padding-top: 32px !important;">
    <app-pizarron></app-pizarron>
  </div>
</div>

